/* header + nav bar styles */
#root {
  color: var(--text-color);
  background-color: var(--background-color);
  transition: all 1s ease;
  
}

::selection {
  background-color: var(--accent-color);
  color: var(--background-color);
}

.headerContainer {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 1px solid currentColor;
}

.leftColumn {
  width: 60%;
  padding: 2rem;
  border-right: 1px solid currentColor;
}

.rightColumn {
  width: 40%;
  padding: 1.5rem;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.3;
}

.titleIcon {
  font-family: var(--font-phosphene);
  color: var(--accent-color);
}

.subtitle {
  margin-top: 0.5rem;
  margin-bottom: -0.5rem;
  font-size: 1.2rem;
  font-weight: normal;
}

.description {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.5;
  align-self: flex-start;
}

.themeButtons {
  border: 2px solid var(--accent-color);
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  margin: 0;
}

.themeToggleRow {
  display: flex;
  gap: 1.5rem;
}

.toggleContainer {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  cursor: pointer;
  user-select: none;
}

.toggleIndicator {
  width: 1.5rem;
  color: var(--accent-color);
  font-size: 1.2rem;
  margin-top: -0.5rem;
  display: flex;
  font-family: var(--font-phosphene);
  justify-content: center;
  align-items: center;
}

.toggleLabel {
  font-family: var(--font-body);
  font-size: 1.2rem;
}

.toggleLabel:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--accent-color);
}

[data-selected="true"] .toggleLabel {
  text-decoration: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--accent-color);
}

.navBar {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid currentColor;
}

.navButton {
  padding: 1rem 3rem;
  border: 1px solid currentColor;
  background: transparent;
  color: inherit;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1.25rem;
  font-family: var(--font-body);
}

.navButton:hover {
  background-color: var(--accent-color);
  border-color: var(--text-color);
}

.navButton.selected {
  background-color: var(--accent-color);
  border-color: var(--text-color);
}

.navButton.selected:hover {
  opacity: 1;
  color: var(--text-color);
  text-decoration: none;
}

.dataVizReturnButton {
  border: 1px solid currentColor;
  background: var(--background-color);
  color: var(--text-color);
  border-radius: 40px;
  cursor: pointer;
  font-family: var(--font-body);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  padding: 0.75rem 5rem;
}

.dataVizReturnButton:hover {
  background: var(--accent-color);
  border-color: var(--text-color);
  color: var(--text-color);
}

.dataVizHeader {
  font-family: var(--font-heading);
  margin-left: 3rem;
  font-size: 3.5rem;
}

.dataVizHeaderContainer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.navIndicator {
  font-family: var(--font-phosphene);
  margin-right: 0.75rem;
  font-size: 0.75rem;
}

/* page styles */
.heading {
  font-family: var(--font-heading);
  font-size: 1.5rem;
}

.contentContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contentSection {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom: 1px solid currentColor;
  align-items: center;
}

.contentSection:last-child {
  border-bottom: none;
}

.sectionRow {
  display: flex;
  padding: 2rem;
  padding-bottom: 0;
  justify-content: center;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.sectionContent {
  padding: 2rem;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 1400px;
  margin: 0 auto;
  width: 100%;
}

.sectionContent p {
  margin: 0;
}

.sectionHeader {
  width: 20%;
  margin: 0;
  text-align: left;
  padding-right: 2rem;
  padding-left: 7%;
  font-family: var(--font-heading);
  font-size: 2.5rem;
}

.sectionDescription {
  width: 80%;
  font-size: 1.2rem;
  line-height: 1.6;
  padding-right: 7%;
}

.sectionDescription p {
  margin: 0;
}

/* incident data and code page */ 
.incidentDataContent {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-left: calc(2rem + 7%);
}

.incidentDataLink, .incidentDataLink:visited {
  color: var(--text-color);
  padding: 5px;
  border: 2px solid;
  border-color: var(--text-color);
  border-radius: 3px;
}

.incidentDataLink:hover, .incidentDataLink:focus, .incidentDataLink:active {
  color: var(--accent-color);
  border-color: var(--accent-color);
}
.incidentDataMiniHeader {
  width: 100%;
}