@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&display=swap');

@font-face {
  font-family: "Anthony";
  src: url("./assets/fonts/Anthony.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


:root {
  font-family: Manrope, Anthony, system-ui, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  min-height: 100vh;

  --font-manrope: "Manrope", sans-serif;
  --font-anthony: "Anthony", sans-serif;

  --font-heading: "Anthony", sans-serif;
  --font-body: "Manrope", sans-serif;

  /* the default color scheme */

  --background-color: #435325;
  --text-color: #E9B321;
  --accent-color: #CB4599;


  /* the colorful color scheme */
  --color-bg: #435325;
  --color-text: #E9B321;
  --color-accent: #CB4599;

  /* the light color scheme */
  --light-bg: white;
  --light-text: black;
  --light-accent: #699BD0;

  /* the dark color scheme */
  --dark-bg: black;
  --dark-text: white;
  --dark-accent: #7AC25B;


  color-scheme: light dark;
  color: var(--text-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  font-weight: 500;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--accent-color);
  text-decoration-thickness: 0.1em;
  text-underline-offset: 0.1em;
}
a:hover {
  color: var(--accent-color);
}

h1{
  font-family: var(--font-heading);
}

body {
  font-family: var(--font-body);
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}